html {
  font-size: 625%;
}
body {
  font-size: 62.5%;
}
#flyDiv {
  position: absolute;
  z-index: 100000;
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #fafafa;
  width: 100%;
  z-index: 10001;
}
#nav .navlist {
  background: linear-gradient(to bottom, #f4f4f4 0, #eeeeee 100%);
  border-bottom: solid 1px #B3B3B3;
  -webkit-box-shadow: 0 1px 1px 0 #DFDFDF;
  box-shadow: 0 1px 1px 0 #DFDFDF;
  width: 100%;
}
#nav .navlist li {
  float: left;
  width: 25%;
  margin: 0;
}
#nav .navlist li a {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#nav .navlist li a span {
  display: inline-block;
  height: .5rem;
  width: .5rem;
  background: url(../images/icon.png) no-repeat 0 -0.46rem;
  background-size: 2.14rem auto;
}
#nav .navlist li a .active {
  background-position: 0 0;
}
#nav .navlist #nav_2 {
  position: relative;
}
#nav .navlist #nav_2 a span {
  background-position: -0.51rem -0.46rem;
}
#nav .navlist #nav_2 a .active {
  background-position: -0.51rem 0;
}
#nav .navlist #nav_2 .cartnums {
  position: absolute;
  text-align: center;
  line-height: .17rem;
  font-size: .1rem;
  height: .16rem;
  width: .16rem;
  border-radius: 50%;
  background: red;
  top: 0;
  left: .47rem;
  color: #fff;
}
#nav .navlist #nav_3 a span {
  background-position: -1.61rem -0.46rem;
}
#nav .navlist #nav_3 a .active {
  background-position: -1.61rem 0;
}
#nav .navlist #nav_4 a span {
  background-position: -1.01rem -0.46rem;
}
#nav .navlist #nav_4 a .active {
  background-position: -1.01rem 0;
}
.indexslider {
  position: relative;
  top: 51px;
  width: 100%;
}
.indexslider img {
  height: 2rem;
  width: 100%;
  border: 0;
}
.indexslider .bottomWrap {
  height: .45rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: .18rem;
}
.indexslider .bottomWrap .leftSlide {
  width: 1.55rem;
  height: 100%;
  float: left;
}
.indexslider .bottomWrap .leftSlide p {
  margin-left: .1rem;
  line-height: .2rem;
  width: 100%;
  font-size: .12rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.indexslider .bottomWrap .leftSlide p span {
  color: #15bd10;
}
.indexslider .bottomWrap a {
  float: right;
  width: 1rem;
  height: .3rem;
  background: #15bd10;
  border-radius: .1rem;
  color: #fff;
  line-height: .3rem;
  text-align: center;
  margin-top: .07rem;
  margin-right: .1rem;
}
.productList {
  width: 100%;
  position: relative;
  top: .6rem;
  left: 0;
  overflow: hidden;
}
.productList li {
  margin: .1rem;
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
  max-height: 1.25rem;
  padding-bottom: .1rem;
}
.productList li .triangle_zs {
  width: 0;
  height: 0;
  border-top: .6rem solid #1aa818;
  border-right: .6rem solid transparent;
  position: absolute;
  z-index: 990;
}
.productList li .triangle_rx {
  width: 0;
  height: 0;
  border-top: .6rem solid #d50806;
  border-right: .6rem solid transparent;
  position: absolute;
  z-index: 990;
}
.productList li .triangle_xg {
  width: 0;
  height: 0;
  border-top: .6rem solid #ff7301;
  border-right: .6rem solid transparent;
  position: absolute;
  z-index: 990;
}
.productList li .tip {
  font-size: .16rem;
  color: #fff;
  z-index: 1000;
  margin-top: .09rem;
  margin-left: 1px;
  -webkit-transform: rotate(-45deg);
  display: block;
  position: absolute;
}
.productList li .leftImg {
  height: 1rem;
  width: 1rem;
  margin-top: .1rem;
  float: left;
}
.productList li .leftImg canvas {
  height: 100px;
  width: 100px;
  background: url(../images/loading.gif) no-repeat center;
  background-size: .15rem auto;
}
.productList li .rightContent {
  font-size: .16rem;
}
.productList li .rightContent p {
  margin-left: 1.1rem;
  line-height: .35rem;
}
.productList li .rightContent .title {
  font-size: .16rem;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
.productList li .rightContent .introduce {
  font-size: .13rem;
  line-height: .2rem;
  color: #999;
}
.productList li .rightContent .price {
  font-size: .14rem;
}
.productList li .rightContent .price .greenPrice {
  color: #00b500;
  font-weight: bold;
}
.oneContent {
  width: 96%;
  margin: .7rem auto .7rem;
  font-size: .16rem;
  background: rgba(255, 255, 255, 0.7);
}
.oneContent ul {
  width: 100%;
  margin-bottom: .15rem;
}
.oneContent ul li {
  background: #fff;
  box-shadow: 0 0 .1rem #ccc;
  margin: .01rem;
}
.oneContent ul .mainCon {
  border-top-left-radius: .15rem;
  border-top-right-radius: .15rem;
  overflow: hidden;
}
.oneContent ul .mainCon .leftItem {
  margin-top: .15rem;
  float: left;
}
.oneContent ul .mainCon .leftItem img {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  padding-left: .1rem;
  background-size: .15rem auto;
  margin-bottom: .14rem;
}
.oneContent ul .mainCon .rightContent {
  max-height: 1.35rem;
  font-size: .16rem;
  width: 98%;
}
.oneContent ul .mainCon .rightContent p {
  margin-left: 1.25rem;
  line-height: .4rem;
}
.oneContent ul .mainCon .rightContent .title {
  font-size: .16rem;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
.oneContent ul .mainCon .rightContent .introduce {
  font-size: .13rem;
  line-height: .2rem;
  color: #999;
}
.oneContent ul .mainCon .rightContent .price {
  font-size: .14rem;
}
.oneContent ul .mainCon .rightContent .price .greenPrice {
  color: #00b500;
  font-weight: bold;
}
.oneContent ul .changeNum {
  border-bottom-left-radius: .15rem;
  border-bottom-right-radius: .15rem;
}
.oneContent ul .changeNum .buyNum {
  float: left;
  width: .9rem;
  margin: .2rem .1rem .25rem .13rem;
}
.oneContent ul .changeNum .numInput {
  padding-top: .15rem;
}
.oneContent ul .changeNum .numInput div {
  border: 1px solid #ccc;
  height: .3rem;
  width: .4rem;
  text-align: center;
  line-height: .3rem;
  color: #990000;
  font-weight: bold;
  cursor: pointer;
}
.oneContent ul .changeNum .numInput input {
  border: 0;
  height: .3rem;
  width: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: center;
}
.oneContent .decorations {
  box-shadow: 0 0 0.5rem #ccc;
  border-radius: .15rem;
  border: 1px solid #ccc;
  padding: .15rem;
  overflow: hidden;
}
.oneContent .decorations .bottomTitle {
  font-size: .16rem;
  font-weight: bold;
  line-height: .3rem;
}
.oneContent .decorations p {
  text-indent: .25rem;
  font-size: .14rem;
  line-height: .2rem;
  margin-bottom: .15rem;
}
.oneContent .decorations img {
  display: block;
  border-radius: 50%;
  margin: 0 auto .1rem;
  height: 1.82rem;
  width: 2.4rem;
}
.addCart {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.addCart input {
  display: block;
  border-radius: .06rem;
  width: 98%;
  margin: 0 auto;
  background: #28c728;
  height: .55rem;
  border: 0;
  border: 1px solid #31b231;
  font-size: .2rem;
  font-family: "Microsoft YaHei";
  color: #fff;
  outline: none;
  cursor: pointer;
}
.cart {
  position: relative;
  top: .5rem;
  left: 0;
  width: 100%;
  margin: 0 auto;
}
.cart .nullShop {
  text-align: center;
  color: #ccc;
}
.cart .nullShop img {
  margin-top: .3rem;
  margin-bottom: .1rem;
}
.cart .nullShop h4 {
  font-size: .18rem;
  line-height: .3rem;
  margin-top: .1rem;
  margin-bottom: .3rem;
}
.cart .nullShop a {
  font-size: .15rem;
  display: inline-block;
  width: 2rem;
  height: .45rem;
  line-height: .45rem;
  border: 1px solid #ccc;
  border-radius: .1rem;
  box-shadow: 0 0 0.1rem #ccc;
}
.cart .cartList {
  width: 100%;
  overflow: hidden;
  margin: 0 auto .5rem;
}
.cart .cartList .cartItems {
  width: 92%;
  margin: .1rem auto;
  margin-bottom: .1rem;
  background: #fff;
  border-radius: .15rem;
  box-shadow: 0 0 0.3rem #ccc;
}
.cart .cartList .cartItems a {
  display: block;
  padding: .08rem .14rem;
  border-bottom: 1px dashed #e9e9e9;
}
.cart .cartList .cartItems a img {
  width: .6rem;
  height: .6rem;
  display: inline-block;
  border-radius: .3rem;
}
.cart .cartList .cartItems a span {
  font-size: .16rem;
  vertical-align: top;
  line-height: .6rem;
  display: inline-block;
  margin-left: .2rem;
  font-weight: bold;
}
.cart .cartList .cartItems .changeNum {
  border-bottom: 1px dashed #e9e9e9;
}
.cart .cartList .cartItems .changeNum .buyNum {
  font-size: .16rem;
  float: left;
  width: 115px;
  margin: .2rem 0 .20rem .13rem;
}
.cart .cartList .cartItems .changeNum .numInput {
  padding-top: .15rem;
}
.cart .cartList .cartItems .changeNum .numInput div {
  font-size: .16rem;
  border: 1px solid #ccc;
  height: .33rem;
  width: .4rem;
  text-align: center;
  line-height: .33rem;
  cursor: pointer;
}
.cart .cartList .cartItems .changeNum .numInput .reduce {
  position: absolute;
  left: 1.12rem;
}
.cart .cartList .cartItems .changeNum .numInput input {
  border: 0;
  margin-left: .1rem;
  height: .33rem;
  width: 1.05rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #990000;
}
.cart .cartList .cartItems .calPrice {
  border-bottom: 1px dashed #e9e9e9;
  margin-bottom: .05rem;
}
.cart .cartList .cartItems .calPrice span {
  font-size: .16rem;
  text-align: right;
  line-height: .43rem;
  display: inline-block;
}
.cart .cartList .cartItems .calPrice .smallCal {
  width: .9rem;
  margin-left: .04rem;
}
.cart .cartList .cartItems .calPrice .sPrice {
  color: #15bd10;
  font-weight: bold;
  font-size: .14rem;
}
.cart .cartList .cartItems .calPrice .delBtn {
  float: right;
  height: .23rem;
  width: .20rem;
  background: url(../images/del.png) no-repeat center;
  margin-top: .17rem;
  margin-right: .2rem;
  background-size: contain;
}
.bottomDel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .5rem;
  border-top: 1px solid #B3B3B3;
  font-size: .14rem;
  z-index: 10000;
  background: #fff;
}
.bottomDel .allDel {
  font-size: .16rem;
  color: #0e69b6;
  font-weight: bold;
  text-indent: .5rem;
  line-height: .5rem;
  background: url(../images/del.png) no-repeat 0.1rem center;
}
.bottomDel .allPrice {
  height: 100%;
  line-height: .5rem;
  margin-left: .2rem;
}
.bottomDel .allPrice span {
  color: #15bd10;
  font-weight: bold;
}
.bottomDel .toCal {
  height: 100%;
  width: .85rem;
  text-align: center;
  line-height: .5rem;
  color: #fff;
  font-size: .18rem;
  font-weight: bold;
  background: #15bd10;
}
.order {
  position: relative;
  top: .6rem;
  left: 0;
  width: 100%;
  margin-bottom: .6rem;
}
.order .manageAddress {
  font-size: .18rem;
  color: #fff;
  width: 99%;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  border: 1px solid #31b231;
  border-radius: .05rem;
  margin: 0 auto;
  background: #28c728;
  background-image: -webkit-linear-gradient(#18b218, #28c728);
  background-image: -moz-linear-gradient(#18b218, #28c728);
  background-image: -o-linear-gradient(#18b218, #28c728);
  background-image: linear-gradient(#18b218, #28c728);
  cursor: pointer;
}
.order .addressList,
.order .invoice,
.order .goodsList,
.order .leaveMsg {
  width: 90%;
  margin: .1rem auto;
  background: #fff;
  border-radius: .1rem;
  box-shadow: 0 0 .3rem #ccc;
  border: 1px solid #ccc;
  padding: .05rem .1rem;
}
.order .addressList h4 {
  font-size: .16rem;
  line-height: .25rem;
  font-weight: bold;
  border-bottom: 1px dashed #ccc;
}
.order .addressList ul {
  border-bottom: 1px dashed #ccc;
}
.order .addressList ul .radioAddr {
  margin-top: -0.17rem;
}
.order .addressList ul .mainAddr {
  font-size: .14rem;
  line-height: .2rem;
  margin: .1rem 0;
  text-indent: .05rem;
}
.order .addressList ul .namePhone {
  font-size: .15rem;
  text-indent: 20px;
  margin-bottom: .1rem;
  font-family: "微软雅黑";
}
.order .addressList ul .namePhone b {
  text-indent: .15rem;
}
.order .addressList ul:nth-last-child {
  border: 0;
}
.order .addressList .newAddr {
  border-radius: .07rem;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.05rem;
  font-size: .15rem;
}
.order .addressList .newAddr p {
  font-size: .18rem;
  margin: .08rem auto;
  font-family: "微软雅黑";
}
.order .addressList .newAddr input[type='text'] {
  outline: none;
  border: none;
  border: 1px solid #CCCCCC;
  width: 93.1%;
  border-radius: .07rem;
  height: .4rem;
  padding: 0 .1rem;
  font-size: .14rem;
}
.order .addressList .newAddr select {
  outline: none;
  border: none;
  border: 1px solid #CCCCCC;
  border-radius: .07rem;
  height: .4rem;
  padding: 0 .1rem;
  font-size: .14rem;
  width: 32%;
}
.order .addressList .newAddr input[type='checkbox'] {
  margin-top: .05rem;
  vertical-align: bottom;
}
.order .invoice {
  font-size: .15rem;
}
.order .invoice h4 {
  font-size: .16rem;
  line-height: .25rem;
  font-weight: bold;
  margin-bottom: .05rem;
}
.order .invoice label {
  font-size: .15rem;
  line-height: 20px;
}
.order .goodsList {
  font-size: .16rem;
}
.order .goodsList h4 {
  font-size: .16rem;
  line-height: .25rem;
  font-weight: bold;
  margin-bottom: .05rem;
}
.order .goodsList table {
  width: 100%;
  border: 1px solid #ccc;
  border-right: none;
  border-bottom: none;
  text-align: center;
  margin-bottom: .08rem;
}
.order .goodsList table .title {
  background: #ccc;
  height: .3rem;
  line-height: .3rem;
}
.order .goodsList table .list td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: .2rem .05rem;
}
.order .goodsList table .list .goods {
  font-size: .14rem;
  font-family: "微软雅黑";
}
.order .leaveMsg h4 {
  font-size: .16rem;
  line-height: .25rem;
  font-weight: bold;
  margin-bottom: .05rem;
}
.order .leaveMsg textarea {
  font-size: .15rem;
  width: 97%;
  border: 0;
  border: 1px solid #ccc;
  border-radius: .05rem;
  margin-bottom: .05rem;
  padding: .05rem;
}
.toOrder {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .5rem;
  border-top: 1px solid #B3B3B3;
  font-size: .14rem;
  z-index: 10000;
  background: #fff;
}
.toOrder .allPrice {
  height: 100%;
  line-height: .5rem;
  margin-left: .2rem;
}
.toOrder .allPrice span {
  color: #15bd10;
  font-weight: bold;
}
.toOrder .toOrderBtn {
  font-family: "微软雅黑";
  height: 100%;
  width: .95rem;
  text-align: center;
  line-height: .5rem;
  color: #fff;
  font-size: .18rem;
  font-weight: bold;
  background: #15bd10;
}
.userinfo {
  position: relative;
  top: .6rem;
  left: 0;
  font-size: .16rem;
  width: 92%;
  margin: 0 auto;
}
.userinfo .out {
  border: 1px solid #f2f2f2;
  border-radius: .1rem;
  margin-bottom: .1rem;
  background: #fff;
  box-shadow: 0 0 .06rem #ccc;
}
.userinfo .selfInfo {
  overflow: hidden;
  padding: .1rem;
}
.userinfo .selfInfo img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.userinfo .selfInfo .infoItems {
  margin-left: 1.14rem;
}
.userinfo .selfInfo .infoItems li {
  font-size: .14rem;
  line-height: .2rem;
  font-family: "微软雅黑";
  font-weight: bold;
}
.userinfo .selfInfo .infoItems li span {
  font-size: .12rem;
  font-weight: normal;
}
.userinfo .selfInfo .infoItems .infoID {
  font-size: .15rem;
  color: #f9a00a;
  line-height: .25rem;
  margin-bottom: .08rem;
}
.userinfo .infoList {
  text-align: center;
}
.userinfo .infoList a {
  cursor: pointer;
  display: block;
}
.userinfo .infoList a .lists {
  width: 100%;
  height: .5rem;
  line-height: .5rem;
  border-bottom: 1px solid #f2f2f2;
}
.userinfo .infoList .bg {
  background: url(../images/goforword.png) no-repeat right center;
  background-size: .3rem .3rem;
}
.orderForm {
  position: relative;
  font-size: .16rem;
  top: .52rem;
  left: 0;
  width: 100%;
}
.orderForm .topCon {
  height: 1.2rem;
  width: 100%;
  background: linear-gradient(to bottom, #ff3344, #fd8c84);
}
.orderForm .topCon .topImg {
  line-height: 1.2rem;
  width: 1.4rem;
  text-align: center;
}
.orderForm .topCon .topImg img {
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  vertical-align: middle;
}
.orderForm .topCon .orderName {
  padding-top: .25rem;
}
.orderForm .topCon .orderName p {
  line-height: .33rem;
  font-size: .15rem;
  font-family: "微软雅黑";
}
.orderForm .topCon .orderName .name {
  color: #fff;
  font-weight: bold;
}
.orderForm .topCon .orderName .myOrder {
  color: #f8cd71;
}
.orderForm .topNav {
  text-align: center;
}
.orderForm .topNav li {
  width: 25%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.orderForm .topNav li a {
  line-height: .45rem;
  display: inline-block;
  width: 100%;
  cursor: auto;
  font-weight: bold;
  font-size: .15rem;
  color: #000;
}
.orderForm .topNav li:last-child {
  border-right: 0;
}
.orderForm .topNav .choose {
  border-bottom: none;
}
.orderForm .topNav .choose a {
  color: #ff5000;
}
.orderForm .myOrderContent {
  width: 100%;
  background: #e7e7e7;
}
.orderForm .myOrderContent .contentWrap {
  width: 100%;
}
.orderForm .myOrderContent .contentWrap .orderItems {
  width: 100%;
  margin: .08rem auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.orderForm .myOrderContent .contentWrap .orderItems .itemTop {
  height: .3rem;
  padding: .05rem .1rem;
  font-size: .14rem;
  font-family: "微软雅黑";
  line-height: .3rem;
  background: url(../images/shop_item.png) no-repeat 10px center;
  background-size: .2rem .2rem;
}
.orderForm .myOrderContent .contentWrap .orderItems .itemTop .goodName {
  text-indent: .3rem;
}
.orderForm .myOrderContent .contentWrap .orderItems .itemTop .orderSucess {
  color: #ff5000;
}
.orderForm .myOrderContent .contentWrap .orderItems .buyOrder {
  background: #e7e7e7;
  padding: .05rem .1rem;
  border-bottom: 1px solid #e7e7e7;
}
.orderForm .myOrderContent .contentWrap .orderItems .buyOrder .leftImg img {
  height: .55rem;
  width: .55rem;
}
.orderForm .myOrderContent .contentWrap .orderItems .buyOrder .midCon {
  margin-left: .65rem;
  margin-right: .5rem;
  font-size: .13rem;
}
.orderForm .myOrderContent .contentWrap .orderItems .buyOrder .rightPri {
  font-size: .14rem;
}
.orderForm .myOrderContent .contentWrap .orderItems .delOrder {
  height: .33rem;
  line-height: .33rem;
  text-align: center;
  padding: .05rem 0 0 0;
}
.orderForm .myOrderContent .contentWrap .orderItems .delOrder span {
  overflow: hidden;
  display: inline-block;
  line-height: .25rem;
  height: .25rem;
  width: .8rem;
  border: 1px solid #999;
  margin-right: .1rem;
  color: #000;
  font-size: .15rem;
  cursor: pointer;
}
.orderForm .myOrderContent .fahuo {
  text-align: center;
}
.orderForm .myOrderContent .fahuo img {
  margin-top: .2rem;
  height: 1rem;
}
.orderForm .myOrderContent .fahuo h3 {
  margin-top: .1rem;
  font-size: .14rem;
  color: #444;
}
